<ion-header>
  <ion-toolbar>
    <ion-title>Chapter3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Donec posuere commodo lectus in finibus. Phasellus ut lacinia nisi. Aenean laoreet nunc orci. In vitae ex in erat
    vestibulum finibus. Morbi sed leo pharetra turpis lacinia mollis at eget lorem. Nunc volutpat mauris vitae tellus
    pretium facilisis. Suspendisse et dictum justo. Cras faucibus nulla at mauris sollicitudin, eget rhoncus lacus sagittis.
    
    Maecenas vel eleifend nulla. Morbi tristique orci vitae dui luctus congue. Nunc dignissim neque libero, sed vulputate
    metus placerat id. Donec congue convallis interdum. Mauris porta, dui vitae varius malesuada, tellus nulla porttitor
    diam, sed tempus metus eros in est. Fusce at urna et ex efficitur commodo eget vel urna. Vestibulum congue dictum est,
    nec pellentesque ligula mollis eu.
  </p>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Back to Table of Contents
  </ion-button>
</ion-content>
