<ion-header>
  <ion-toolbar>
    <ion-title>Chapter2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Pellentesque fringilla blandit orci. Vivamus vulputate dignissim luctus. Morbi lacinia sodales ligula, et luctus
    arcu
    lobortis at. Etiam a pellentesque quam, ac semper erat. Nulla rutrum fermentum risus, nec facilisis orci cursus
    viverra.
    Praesent laoreet nisl ut sollicitudin placerat. Donec elementum commodo enim. Vivamus mollis, velit vitae porta
    finibus,
    risus turpis aliquam nunc, ut auctor dolor felis eu turpis. Cras magna urna, tempor at tempus ac, faucibus a libero.
  </p>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Back to Table of Contents
  </ion-button>
</ion-content>