<ion-header>
  <ion-toolbar>
    <ion-title>Chapter1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu convallis ex, sed commodo erat. Suspendisse fermentum,
  nibh et venenatis efficitur, enim dolor efficitur urna, ac molestie nunc nulla at felis. Fusce eget lacus sed libero
  ullamcorper finibus in nec ipsum. Nulla interdum lorem vel sagittis feugiat. Nam pretium suscipit interdum. Mauris
  volutpat molestie mauris, vel iaculis nisi ullamcorper eu. Etiam ac urna elementum, blandit purus non, pellentesque
  turpis.
 </p>

  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Back to Table of Contents</ion-button>
  
</ion-content>
